.sidebar-link {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  background-color: white;
  border: 2px solid white;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px;
  width: 80%;
}

.sidebar-link:hover {
  background-color: rgba(59, 57, 87, 0.798);
  color: white;
  border: 2px solid rgba(40, 152, 169, 0.798);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px;
}

.sidebar-link:active {
  background-color: rgba(59, 57, 87, 0.798);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: white;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px;
}

#chat-box {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  z-index: 1000;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  padding: 10px;
  cursor: pointer;
}

.chat-header span {
  font-weight: bold;
}

.chat-action-button {
  background-color: #ddd;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.chat-content {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.chat-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.chat-footer input[type=text] {
  padding: 8px;
  border: 1px solid #ddd;
  margin-right: 10px;
  width: 80%;
}

.chat-footer button {
  background-color: #ddd;
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.chat-footer button:hover {
  background-color: #ccc;
}

.chat-message-user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#chat-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.chat-message {
  margin-top: 15px;
  margin-bottom: 15px;
}

.chat-message > img, .chat-message > div {
  display: inline-block;
}

/* Header */
.header {
  position: relative;
}

.cover-photo {
  width: 100%;
  height: 200px;
  background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80 .jpg");
  background-size: cover;
  background-position: center;
}

.cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 30px;
  left: 20px;
  border: 5px solid gray;
  z-index: 1;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#profile-picture-newsfeed {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.headline {
  background-color: lightblue;
  color: white;
  margin: 10px auto;
  margin-top: 60px;
}

.headline h1 {
  font-size: 36px;
  margin: 0;
}

.headline h2 {
  font-size: 24px;
  margin: 0;
}

/* About Section */
.about-section {
  padding: 20px;
}

.about-section h3 {
  margin-bottom: 10px;
}

/* Timeline */
.timeline {
  padding: 20px;
}

.timeline h3 {
  margin-bottom: 10px;
}

.timeline ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline li {
  margin-bottom: 10px;
}

/* Recommendations */
.recommendations {
  padding: 20px;
}

.recommendations h3 {
  margin-bottom: 10px;
}

.recommendations ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendations li {
  margin-bottom: 10px;
}

/* Social Media */
.social-media {
  padding: 20px;
}

.social-media h3 {
  margin-bottom: 10px;
}

.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media li {
  margin-bottom: 10px;
}

.social-media a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  background-color: #3e8e41;
}

#posting-section {
  display: flex;
}

#posting-section form {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
}

#post__btn {
  width: 20%;
}

/* Center the text in the container */
.container {
  text-align: center;
}

/* Add some margin to the product cards */
.card {
  margin: 10px;
}

#menu_icon {
  width: 50px;
}

.fa-solid {
  align-self: center;
}

.round {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
