<div id="navigation" class="navigation-container"></div>
    <div class="row">
      <!-- <div class="col-md-2">
            <div class="card mb-3">
              <div id="sidebar-left" class="navigation-container"></div>
            </div> 
          </div> -->
      <div class="col-md-12">
        <!-- Cover Photo, Headline, and About Section -->
        <div class="row">
          <div class="col-md-12 cover-photo">
            <!-- Profile Picture -->
            <div id="profile-picture-profile-page">
              <!-- Profile Picture will be added here -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 headline">
            <h1>John Doe</h1>
            <h4>Web Developer</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12 about">
            <h3>About Me</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              euismod justo vel purus laoreet, in faucibus velit pulvinar.
              Maecenas tristique, odio eget tempor finibus, ipsum mauris rhoncus
              dolor, eget interdum lacus enim vel odio. Sed vel tristique nulla.
            </p>
          </div>
        </div>
        <!-- Timeline -->
        <div class="row">
          <div class="col-12 timeline">
            <h3>Timeline</h3>
            <ul>
              <li>
                <p><strong>2022 - present</strong></p>
                <p>Web Developer at XYZ Company</p>
              </li>
              <li>
                <p><strong>2019 - 2022</strong></p>
                <p>Front-End Developer at ABC Company</p>
              </li>
              <li>
                <p><strong>2015 - 2019</strong></p>
                <p>
                  Bachelor's Degree in Computer Science at University of XYZ
                </p>
              </li>
            </ul>
          </div>
        </div>
        <!-- Recommendations -->
        <div class="row">
          <div class="col-12 recommendations">
            <h3>Recommendations</h3>
            <ul>
              <li>
                <p><strong>Jane Doe</strong></p>
                <p>
                  "John is a talented web developer who always delivers quality
                  work on time. I highly recommend him for any project."
                </p>
              </li>
              <li>
                <p><strong>John Smith</strong></p>
                <p>
                  "I worked with John on a few projects and was always impressed
                  by his attention to detail and willingness to go the extra
                  mile. He's a great team player."
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>